<% layout('layout') -%>

<div class="container">
    
    <div class="card">

        <div class="title">  
            <h1><%= title %></h1>
        </div>
        
        <form method="post">
            
            <input type="text" name="title" placeholder="Site name" required>
            <br><br>
            <input type="text" name="developer" placeholder="Developer name" required>
            <br><br>
            <input type="text" name="designer" placeholder="Designer name" required>
            <br><br>
            <input type="text" name="am" placeholder="Account Manager name" required>
            <br><br>
            <input type="text" name="siteId" placeholder="Site ID" required>
            <br><br>
            <input type="text" name="tags" placeholder="Tags" required>
            <br><br>
            <button type="submit">Submit</button>
            
        </form>
        
    </div>
    
</div>