<% layout('layout') -%>

<div class="container">
    
    <div class="card">

        <div class="title">  
            <h1><%= title %></h1>
        </div>

        <ul>

            <% for(var i=0; i<sites.length;i++){ %>

                <li>
                    <%= sites[i].title %> - 
                    <%= sites[i].developer %>
                     &raquo; <a href="/sites/<%= sites[i]._id %>">Details</a>
                </li>

            <% } %>

        </ul>
        
    </div>
    
</div>