<nav>

    <ul>

        <% for(var i=0; i<nav.length;i++){ %>

        <li class="btn  btn--primary">
            <a href="<%= nav[i].link %>">
                <%= nav[i].text %>
            </a>
        </li>

        <% } %>

    </ul>

</nav>